@charset "UTF-8";
@import "main.css"; /* 외부css 불러오기 */

h1 {
    color: red;
    background-color: greenyellow;
}

/* 가상 선택자: 반응 선택자 */
/* link상태와 visited상태는 A Tag Only */

a:link {
    /* 미방문일 때 */
    color: cyan;
}

a:visited {
    /* 이미 방문한 링크일 때 */
    color: blue;
}

a:hover {
    /* 마우스가 올라왔을 때 색상 */
    color: black;
}

a:active {
    /* 마우스로 클릭했을 때 상태 */
    color: red;
}